<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="restassured.chain.api.CreateUser" />
			<class name="restassured.chain.api.GetUser" />
			<class name="restassured.chain.api.UpdateUser" />
			<class name="restassured.chain.api.DeleteUser" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
